@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.marginX {
    margin: 0px 90px;
}

.paddingX {
    padding: 0px 90px;
}

.paddingY {
    padding: 50px 0px;
}

.paddingXY {
    padding: 50px 90px;
}

.paddingDash{
    padding-left: 10em;
}

@media (max-width: 460px) {
    .marginX {
        margin: 0px;
    }

    .paddingX {
        padding: 0px 10px;
    }

    .paddingY {
        padding: 0px;
    }

    .paddingXY {
        padding: 0px;
    }

    .paddingDash{
        padding-left: 0px;
    }
}